<!DOCTYPE html>
<html>
<head>
	<title>View Product</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
		<div class="col-12">
			
			
            <h2 class="text-center">List of Products</h3>
			<hr>
			<table class="table">
				<thead class="thead-light">
					<tr style=" font-size: 150%;">
						<th scope="col">Image</th>
						<th scope="col">Name</th>
						<th scope="col">Description</th>
						<th scope="col">Price</th>
						<th scope="col">Discount</th>
						<th scope="col">Delete product</th>
						<th scope="col">Edit product</th>
					</tr>
				</thead>
				<tbody>
					<tr  style=" font-size: 130%;" th:each="product : ${products}">
						<th scope="row"><img alt="" th:src="*{'data:image/jpeg;base64,'+{product.image}}" style="width: 100px;height: 100px;"></th>
						<td class="align-middle">[[*{product.name}]] 	</td>
						
						<td class="align-middle">[[*{product.description}]]</td>
						
						<td class="align-middle">[[*{product.price}]]	</td>
						
						<td class="align-middle">[[*{product.discount}]] </td>
						
						<td><a th:href="@{/updateProduct/{id}(id=${product.id})}"
							class="btn btn-success mt-4">Edit</a></td>
						
						<td ><a th:href="@{/deleteProd/{id}(id=${product.id})}"
							class="btn btn-danger mt-4">Delete</a></td>
						
						
						
					</tr>
				</tbody>
			</table>
			<hr>
		</div>
		</body>
		</html>
